<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
              <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="bookService.selectedBook._id">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="title" #name="ngModel" [(ngModel)]="bookService.selectedBook.title" placeholder="Enter full title" required>
                    <label>Book Title :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="author" #name="ngModel" [(ngModel)]="bookService.selectedBook.author" placeholder="Enter author">
                    <label>Author :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="publisher" #name="ngModel" [(ngModel)]="bookService.selectedBook.publisher" placeholder="Enter publisher">
                    <label>Publisher :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="isbn" #name="ngModel" [(ngModel)]="bookService.selectedBook.isbn" placeholder="ISBN" required>
                    <label>ISBN :</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="numberOfPages" #name="ngModel" [(ngModel)]="bookService.selectedBook.numberOfPages" placeholder="Number of pages">
                      <label>Number of pages :</label>
                    </div>
                  </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" (click)="resetForm(bookForm)">Reset</button>
                    <button class="btn btn-custom right" type="submit" [disabled]="!bookForm.valid">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col s7">
                <table class="responsive-table highlight">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>ISBN</th>
                        <th>Number of pages</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let book of bookService.books">
                      <td>{{book.title}}</td>
                      <td>{{book.author}}</td>
                      <td>{{book.publisher}}</td>
                      <td>{{book.isbn}}</td>
                      <td>{{book.numberOfPages}}</td>
                      <td>
                          <a class="action-btn" (click)="onEdit(book)">
                            <i class="material-icons">edit</i>
                          </a>
                          <a class="action-btn" (click)="onDelete(book._id,bookForm)">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                    </tr>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>